<footer class="text-center" style="margin-top:-40px">
  This website is a work-in-progress. <br> 
  <a href="mailto:support@askaboutblockchain.com"> <span style="color:white">support@askaboutblockchain.com</span> </a>
</footer>
